<h1>Editing: <%= @team.name %></h1>

<%= image_tag @team.image_url(:mid_size).to_s %>

<%= form_for @team, html: { multipart: true } do |f| %>
	
	<p>
	<%= f.label :price %>
	<%= f.text_field :price %>
	</p>
	
	<p>
	<%= f.label :syndicate_id %>
	<%= f.select :syndicate_id, [['None', nil ], ['Scott', 1 ], ['Larry', 2], ['Master', 3], ['Gnade', 4], ['Nitin', 5], ['Veltman', 6]] %>
	</p>
	
	<p>
	<%= f.label :available, 'Availability' %>
	<%= f.select :available, [['Purchased', 'purchased'], ['Available', 'available' ], ['Up for auction', 'auction']] %>
	</p>
	
	<p>
	<%= f.file_field :image %>
	</p>

	<%= f.submit %>
	
<% end %>



