<h2><% @team.each do |f| %>
							<% if f.available == 'auction' %>
								<td>Up for bid: <%= image_tag f.image_url(:thumb).to_s %> | <%= f.name %> </td>
								<td>| <%= f.syndicate.name %> @ <%= number_to_currency(f.price.to_i, precision: 0) %></td>
								<% if @current_user %>
									<td><%= link_to "Edit", edit_team_path(f.id) %></td>
								<% end %>
							<% end %>
						<% end %>	
</h2>

<h3>Current Pot: <%= number_to_currency(@total_pot, precision: 0) %> </h3>
<div class='container'>
	<div class="row">
		<div class="span6">
			<h1>On The Board: </h1>
			<table class="table table-striped table-bordered table-condensed">
			  <thead>
			    <tr>
			      <th>Team</th>
						<% if @current_user %>
			 				<th>Edit</th>
						<% end %>	
			    </tr>
			  </thead>
			  <tbody>
					<% @team.each do |f| %>	
							<% if f.available == 'available' %>
								<tr>
									<td><%= image_tag f.image_url(:thumb).to_s %> <%= link_to f.name, team_path(f) %></td>
									<% if @current_user %>
										<td><%= link_to "Edit", edit_team_path(f.id) %></td>
									<% end %>	
								</tr>	
							<% end %>		
					<% end %>
				</tbody>
			</table>	
		</div>

		<div class="span6">
			<h1>Off The Board: </h1>
			<table class="table table-striped table-bordered table-condensed">
			  <thead>
			    <tr>
			      <th>Team</th>
			 			<th>Purchase Price</th>
						<th>Syndicate</th>
						<% if @current_user %>
							<th>Edit</th>
						<% end %>	
			    </tr>
			  </thead>
			  <tbody>
					<% @team.each do |f| %>
						<% if f.available == 'purchased' %>
							<tr>
								<td><%= image_tag f.image_url(:thumb).to_s %> <%= link_to f.name, team_path(f) %> </td>
								<td><%= number_to_currency(f.price.to_i, precision: 0) %></td>
								<td><%= link_to f.syndicate.name, syndicate_path(f.syndicate.id) %></td>
								<% if @current_user %>
									<td><%= link_to "Edit", edit_team_path(f.id) %></td>
								<% end %>	
							</tr>	
						<% end %>	
					<% end %>
				</tbody>
			</table>
		</div>
	</div>
</div>	

<%#= content_tag :div, "", id: "teams_chart", data: {teams: @team.sold.order("price DESC")} %>
	
			
	
	
	
	
	
	
	