<h1><%= @team.name %></h1>

<%= image_tag @team.image_url(:mid_size).to_s %>

<p>Purchased by: 
<% if @team.syndicate %>
	<%= @team.syndicate.name %></p>
<% else %>
	Not yet purchased
<% end %>	
<p>Price:
<% if @team.syndicate %>
	$<%= @team.price %></p>
<% else %>
	TBD
<% end %>
	</p>
	
<%= link_to "Edit", edit_team_path(@team) %>	