<!DOCTYPE html>
<html>
<head>
  <title>NFL Calcutta</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
	<%= render 'layouts/shim' %>
	  </head>
  <body>
    <%= render 'layouts/header' %>
    <div class="container">
			
			<% if flash[:notice].present? %>
				<p style="color: white; background: green; padding: 6px"><%= flash[:notice] %></p>	
			<% elsif flash[:alert].present? %>
				<p style="color: white; background: red; padding: 6px"><%= flash[:alert] %></p>	
			<% end %>
      <%= yield %>
			<%= render 'layouts/footer' %>
    </div>
  </body>
</html>
